<!-- from https://github.com/utterance/utterances -->
 <!--
<script src="https://utteranc.es/client.js"
        repo="collin12396/collin12396/collinCSP_2025"
        issue-term="/collinCSP_2025"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>    
-->
<!-- from https://github.com/utterance/utterances -->
<script src="https://utteranc.es/client.js"
        repo="{{ site.github_username }}/{{ site.github_repo | default: site.baseurl | remove: "/" }}"
        issue-term="title"
        label="blogpost-comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>